<div class="chat">
  <div class="chat__header">
    {{{chatProfile}}}
  </div>
  <div class="chat__content" id="chatMessages">
    {{{chatMessages}}}
  </div>
  <div class="chat__footer">
    {{{chatMessageBar}}}
  </div>
  {{{modalNewChat}}}
  {{{modalAddUser}}}
  {{{modalDeleteUser}}}
</div>
