<div class="chats-list-item {{activeClass}}" id="chat_{{id}}">
  <div>
    <div class="chats-list-item__avatar"></div>
  </div>
  <div>
    <div class="chats-list-item__title">{{title}}</div>
    {{#with last_message}}
    <div class="chats-list-item__message">
      {{{content}}}
    </div>
    <div class="chats-list-item__date">{{time}}</div>
    {{/with}}
    <div class="chats-list-item__unread">{{{unread_count}}}</div>
  </div>
</div>
