<div class="profile-field">
  <span class="profile-field__label">{{label}}</span>
  <input name={{name}} type={{type}} class="profile-field__input" placeholder={{placeholder}} value={{value}}
    {{{disabled}}} />
</div>
