<main class="profile">
  <section class="content">
    <div class="profile__container">
      <div class="profile__left profile-go-back">
        <a href="/main" class="profile-go-back__button">
          <span class="gg-arrow-left"></span>
        </a>
      </div>
      <div class="profile__right">
        <div class="profile__content">
          <div class="profile-avatar">
            <div class="profile-avatar__container">
              <a class="profile-avatar__button" href="/profile/avatar">Поменять аватар</a>
            </div>
          </div>
          <div class="profile-title">Иван</div>
          <div class="profile-form">
            <div class="profile-field">
              {{{labelEmail}}}
              {{{fieldEmail}}}
              {{{validationEmail}}}
            </div>
            <div class="profile-field">
              {{{labelLogin}}}
              {{{fieldLogin}}}
              {{{validationLogin}}}
            </div>
            <div class="profile-field">
              {{{labelFirstName}}}
              {{{fieldFirstName}}}
              {{{validationFirstName}}}
            </div>
            <div class="profile-field">
              {{{labelSecondName}}}
              {{{fieldSecondName}}}
              {{{validationSecondName}}}
            </div>
            <div class="profile-field">
              {{{labelDisplayName}}}
              {{{fieldDisplayName}}}
              {{{validationDisplayName}}}
            </div>
            <div class="profile-field">
              {{{labelPhone}}}
              {{{fieldPhone}}}
              {{{validationPhone}}}
            </div>
          </div>
          <div class="profile-control">
            {{{buttonEdit}}}
            {{{buttonPassword}}}
            {{{buttonLogout}}}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{{profileAvatarEdit}}}
</main>
