<main class="profile">
  <section class="content">
    <div class="profile__container">
      <div class="profile__left profile-go-back">
        {{{goBackButton}}}
      </div>
      <div class="profile__right">
        <div class="profile__content">
          <div class="profile-avatar">
            <div class="profile-avatar__container" style="background-image: url({{avatarUrl}})">

            </div>
          </div>
          <div class="profile-title"></div>
          <form id="profile_form">
            <div class="profile-form">
              <div class="profile-field">
                {{{labelEmail}}}
                {{{fieldEmail}}}
                {{{validationEmail}}}
              </div>
              <div class="profile-field">
                {{{labelLogin}}}
                {{{fieldLogin}}}
                {{{validationLogin}}}
              </div>
              <div class="profile-field">
                {{{labelFirstName}}}
                {{{fieldFirstName}}}
                {{{validationFirstName}}}
              </div>
              <div class="profile-field">
                {{{labelSecondName}}}
                {{{fieldSecondName}}}
                {{{validationSecondName}}}
              </div>
              <div class="profile-field">
                {{{labelDisplayName}}}
                {{{fieldDisplayName}}}
                {{{validationDisplayName}}}
              </div>
              <div class="profile-field">
                {{{labelPhone}}}
                {{{fieldPhone}}}
                {{{validationPhone}}}
              </div>
            </div>
            <div class="profile-control">
              {{{buttonSave}}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
