<div class="sign-in">
  <section class="content">
    <div class="sign-in__container">
      <div class="sign-in__content">
        <form id="sign-in">
          <div class="sign-in__header">
            <h2>Вход</h2>
          </div>
          <div class="sign-in__form">
            {{{labelLogin}}}
            {{{textboxLogin}}}
            {{{validationLogin}}}
            {{{labelPassword}}}
            {{{textboxPassword}}}
            {{{validationPassword}}}
          </div>
          <div class="sign-in__footer">
            {{{submit}}}
            {{{link}}}
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
