<div class="sign-up">
  <section class="content">
    <div class="sign-up__container">
      <div class="sign-up__content">
        <form id="sign-up">
          <div class="sign-up__header">
            <h2>Регистрация</h2>
          </div>
          <div class="sign-up__form">
            <div class="sign-up-form">
              <div>
                {{{labelLogin}}}
                {{{textboxLogin}}}
                {{{validationLogin}}}
              </div>
              <div>
                {{{labelFirstName}}}
                {{{textboxFirstName}}}
                {{{validationFirstName}}}
              </div>
              <div>
                {{{labelSecondName}}}
                {{{textboxSecondName}}}
                {{{validationSecondName}}}
              </div>
              <div>
                {{{labelEmail}}}
                {{{textboxEmail}}}
                {{{validationEmail}}}
              </div>
              <div>
                {{{labelPhone}}}
                {{{textboxPhone}}}
                {{{validationPhone}}}
              </div>
              <div>
                {{{labelPassword}}}
                {{{textboxPassword}}}
                {{{validationPassword}}}
              </div>
              <div>
                {{{labelRepeatPassword}}}
                {{{textboxRepeatPassword}}}
                {{{validationRepeatPassword}}}
              </div>
            </div>
          </div>
          <div class="sign-up__footer">
            {{{submit}}}
            {{{link}}}
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
